{% extends "layout.html" %}

{% block content %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h1>Change menu</h1>
                <form action="" method="POST">{% csrf_token %}
                    <label for="season">Season:</label>
                    <input type="text" name="season" value="{{ menu.season }}">
                    <br/>
                    <label for="items">Items:</label>
                    <select multiple>
                        {% for item in items %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    <br/>
                    <label for="expiration_date">Expiration Date:</label>
                    <input type="text" name="expiration_date" value="{{ menu.expiration_date|date:"m/d/Y" }}">
                    <br/>
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}