<html>
    <head>
        <title>Soda Fountain</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'menu_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Soda Fountain</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Change menu</h1>
                    <form action="" method="POST">{% csrf_token %}
                        <label for="season">Season:</label>
                        <input type="text" name="season" value="{{ menu.season }}">
                        <br />
                        <label for="items">Items:</label>
                        <select multiple>
                        {% for item in items %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                        </select>
                        <br />
                        <label for="expiration_date">Expiration Date:</label>
                        <input type="text" name="expiration_date" value="{{ menu.expiration_date|date:"m/d/Y" }}">
                        <br />
                        <input type="submit" value="Submit" /> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>